<h2>ShoutStream</h2>

<%= form_for @text_subject do |form| %>
  <%= form.text_field :body %>
  <%= form.submit "SHOUT!" %>
<% end %>

<%= form_for @image_subject do |form| %>
  <%= form.text_field :url %>
  <%= form.submit "SCREAM IMAGE" %>
<% end %>


<h4>People I Follow</h4>
<ul>
  <% @users_i_follow.each do |user| %>
    <li><%= user.email %></li>
  <% end %>
</ul>

<h4>Shouts</h4>

<ul>
  <%= render @timeline %>
  <%= paginate @timeline %>
</ul>
