<!DOCTYPE html>
<html>
<head>
  <title>Shoutr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header class="session">
  <% if signed_in? %>
    <p>Currently signed in as <%= current_user.email %></p>
    <%= button_to "Sign out", session_path, method: :delete %>
    <%= link_to "Home", root_path %>
    |
    <%= link_to "Users", users_path %>
    <%= link_to "Followers", followers_path %>
    <%= link_to "Search", search_path %>
    <%= form_tag :search, method: :get do %>
      <%= text_field_tag :query %>
      <%= submit_tag "SEARCH" %>
    <% end %>
  <% else %>
    <%= link_to "Sign in", new_session_path %>
    <%= link_to "Sign up", new_user_path %>
  <% end %>
  </header>

<%= yield %>

</body>
</html>
